{% extends 'base.html' %}
{% block content %}
<div class="p404">
	<h1>Internal error (500)</h1>
	<p>
		Don't worry: it's not your fault! It looks like we are experiencing some internal problems. We have been informed of the situation and we are going to fix it as soon as possible. Until we kick the problem out, you can sip a 
		tasty banana-flavored drink in the shade of some huge palm-trees.
	</p>
	<p>
		We <strong>highly</strong> recommand you to <a href="/">visit the home page</a>!
	</p>
</div>
{% endblock content %}